#container {
    width: 100%;
    color: #15803D;
    height: 100%;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}